/*paleta de cores: https://paletadecores.com/paleta/000000/001f36/1c5560/79ae92/fbffcd/ */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    
}
/*CABEÇALHO*/
header{
    padding: 25px;
    background-color: #001f36;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-img img{
    width: 95px;
    height: 95px;
}

.header-titulo h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color:#fbffcd;
font size: 36px;
}

.header-lista ul{
    justify-content: center;
    display: flex;
    gap: 45px;
    list-style: none;
}

.header-lista ul li a{
    text-decoration: none;
    color: #fbffcd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*----------------------------------------------------------------------*/
/*SESSÃO 1*/
.sessao-01{
    background-image: url(imagens/casapiscina.jpg);
    background-size: cover;
    background-position: center;
    padding: 200px;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

.sessao-01 button{
      background-color: rgba(0, 0, 0, 0.397);
      font-family: Verdana, Geneva, Tahoma, sans-serif; /*GRADIENTE SITE VAI MUDANDO DE COR GRADUALMENTE*/
      padding: 10px;
      border-radius: 10px;
      text-decoration: none;
      cursor: pointer;
      color: #fbffcd;
      width: 20%;
      height: 45px;
      font-size: 20px;
      
}

.sessao-01 button a{
text-decoration: none;
color: #fbffcd;
}
/*----------------------------------------------------------------------*/
/*SESSÃO 02*/
.sessao-02{
    
    background: linear-gradient(180deg,  #fbffcd,  #fbffcd,  #1c5560); /*GRADIENTE SITE VAI MUDANDO DE COR GRADUALMENTE*/
    padding: 150px;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    display: flex;
  
}

.sessao-02 div{ 
width: 365px;
height: 415px;
background-color: #001f3679;
}
/*DIV 01*/
.div-01 img{
    width: 350px;
    height: 215px;
}
.div-01 ul li{
    font-size: 23px;/*Tamanho da letra*/
    color: white;/*Cor da letra*/
    font-weight: 400;/*Peso da fonte*/
    line-height: 35px; /*Distancia entre as linhas */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div-01 ul{
    gap: 45px;
    list-style: none;
}
/*---------------------------------*/
/*DIV 02*/
.div-02 img{
    width: 350px;
    height: 215px;
}
.div-02 ul li{
    font-size: 23px;/*Tamanho da letra*/
    color: white;/*Cor da letra*/
    font-weight: 400;/*Peso da fonte*/
    line-height: 35px; /*Distancia entre as linhas */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.div-02 ul{
    gap: 45px;
    list-style: none;
}
 /*DIV 03*/
.div-03 img{
    width: 350px;
    height: 215px;
}
.div-03 ul li{
    font-size: 23px;/*Tamanho da letra*/
    color: white;/*Cor da letra*/
    font-weight: 400;/*Peso da fonte*/
    line-height: 35px; /*Distancia entre as linhas */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div-03 ul{
    gap: 45px;
    list-style: none;
}


/*----------------------------------------------------------------------*/
/*SESSÃO 3*/
.sessao-03 {
    padding: 150px;
    background: linear-gradient(180deg, #1c5560, #001f36); /*GRADIENTE SITE VAI MUDANDO DE COR GRADUALMENTE*/
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    align-items: center;
}

.sessao-03 div img {
    width: 400px;
    height: 400px;
   
}

.sessao-03 div p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fbffcd;
    font-weight: 550;
    
    
}

/*----------------------------------------------------------------------*/
.sessao-04 {
    padding: 150px;
    background: linear-gradient(180deg, #001f36, #1c5560); /*GRADIENTE SITE VAI MUDANDO DE COR GRADUALMENTE*/
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
}

.sessao-04 iframe{
    border-radius: 15px;
}

.sessao-04 p{
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-weight: 550;
    color: #fbffcd;
       
}


footer{
  background: linear-gradient(180deg, #1c5560, #001f36,  #000000); /*GRADIENTE SITE VAI MUDANDO DE COR GRADUALMENTE*/
    padding: 30px;
    color: #fbffcd;
    text-align: center;
    line-height: 26px; 
}

footer img{
    width: 40px;
    height: 40px;
}

footer a{
    text-decoration: none;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fbffcd;
    
}





/* PAGINA 2 --------------------------------------------------------------------------------------------------------- */


/*Sessão barra de pesquisa*/
.sessao-cabecalho{
    background-image: url(imagens/casapiscina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.imoveis {
    display: flex;
}
   


*/*sessao 05*/

.sessao-05{
    
    background: linear-gradient(180deg, #1c5560,#1c5560, #fbffcd); /*GRADIENTE SITE VAI MUDANDO DE COR GRADUALMENTE*/
    padding: 120px;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    display: flex;
  
}
.sessao-05 i{
    color: yellow;
}

.sessao-05 div{ 
width: 365px;
height: 415px;
background-color: #001f3679;
}

/*-------------------------------------------*/
/* DIVS SESSAO 05*/
.div-04 img{
    width: 360px;
    height: 215px;
}
.div-04 ul li{
    font-size: 23px;/*Tamanho da letra*/
    color: white;/*Cor da letra*/
    font-weight: 400;/*Peso da fonte*/
    line-height: 35px; /*Distancia entre as linhas */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div-04 ul{
    margin-left: 30px;

}
/*-------------------------------------------*/

.div-05 img{
    width: 360px;
    height: 215px;
}
.div-05 ul li{
    font-size: 23px;/*Tamanho da letra*/
    color: white;/*Cor da letra*/
    font-weight: 400;/*Peso da fonte*/
    line-height: 35px; /*Distancia entre as linhas */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/*-----------------------------------------*/
.div-06 img{
    width: 360px;
    height: 215px;
}
.div-06 ul li{
    font-size: 23px;/*Tamanho da letra*/
    color: white;/*Cor da letra*/
    font-weight: 400;/*Peso da fonte*/
    line-height: 35px; /*Distancia entre as linhas */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*------------------------------------------*/
/*SESSÃO 6*/

.sessao-06{
    
    background: linear-gradient(180deg,  #fbffcd,  #fbffcd,  #1c5560); /*GRADIENTE SITE VAI MUDANDO DE COR GRADUALMENTE*/
    padding: 120px;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    display: flex;
  
}

.sessao-06 i{
    color: yellow;
}

.sessao-06 div{ 
width: 365px;
height: 415px;
background-color: #001f3679;
}

/*DIVS SESSAO 6*/
.div-07 img{
    width: 360px;
    height: 215px;
}
.div-07 ul li{
    font-size: 23px;/*Tamanho da letra*/
    color: white;/*Cor da letra*/
    font-weight: 400;/*Peso da fonte*/
    line-height: 35px; /*Distancia entre as linhas */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*--------------------------------------*/

.div-08 img{
    width: 360px;
    height: 215px;
}
.div-08 ul li{
    font-size: 23px;/*Tamanho da letra*/
    color: white;/*Cor da letra*/
    font-weight: 400;/*Peso da fonte*/
    line-height: 35px; /*Distancia entre as linhas */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*-----------------------------------------*/

.div-09 img{
    width: 360px;
    height: 215px;
}
.div-09 ul li{
    font-size: 23px;/*Tamanho da letra*/
    color: white;/*Cor da letra*/
    font-weight: 400;/*Peso da fonte*/
    line-height: 35px; /*Distancia entre as linhas */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}








