*{
    padding: 0;
    margin: 0;
    
}

header{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    background-color: #cec4c4;
    padding: 15px;
    align-items: center;
    
}

header img{
    width: 150px;
    height: auto;
}

header button{
    width: 150px;
    padding: 3px;
    border: none;
    background-color: #515151;
    color: white;
}

header button:hover{
  background-color: #c3c3c3;
    transition: 0,8s;
    cursor: pointer;
    border-radius: 5px
    
}